body {
	font-family: 'Open Sans', sans-serif;
	color: #adadad;
	font-size: 13px;
	line-height: 33px;
}
.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}
.promo-block {
	position: relative;
	margin-bottom: 7.5%;
	background: url(../img-css/photo-promo.jpg) no-repeat;
	width: 100%;
	padding: 18% 0 33.5%;
	background-size: cover;
}
.wrap-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 0px 24px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 0px 24px 0px rgba(0, 0, 0, 0.2);
}
.header {
	text-transform: uppercase;
	position: relative;
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
}
.gallery {
	margin-top: 5.3%;
}
.col {
	box-sizing: border-box;
	margin-bottom: 2%;
}
.wrap-brend-logos {
	background: #f8f9fa;
	padding: 4% 0 4% 0;
	margin-bottom: 8%;
}
.brand-logos {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.wrap-footer {
	background: url(../img-css/bg-footer.jpg) no-repeat;
	width: 100%;
	padding-bottom: 2%;
	background-size: cover;
}
/*****ui elements****/
.logo {
	float: left;
	padding: 11px 0 0 22px;
}
.menu-toggle {
	color: #36aeea;
	display: block;
	float: right;
	padding: 10px;
}
.menu-toggle:hover {
	background: #36aeea;
	color: #fff;
}
.navbar-menu {
	font-weight: bold;
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	top: 99%;
	right: 0;
	z-index: 2;
	display: none;
	width: 67%;
}
.navbar-menu div {
	padding: 0 12px;
}
.navbar-menu a {
	display: block;
	text-decoration: none;
	color: #9daeb6;
	border-bottom: 2px solid transparent;
}
.menu-toggle:hover + .navbar-menu {
	display: block;
}
.navbar-menu:hover {
	display: block;
}
.navbar-menu a:hover {
	border-bottom: 2px solid #36aeea;
}
.btn {
	display: block;
	background: rgba(255, 255, 255, 0.8);
	border: 3px double #36aeea;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: right;
	text-decoration: none;
	color: #36aeea;
	line-height: 30px;
	padding: 0 5px;
	font-weight: bold;
	margin: 5px 10px 0 0;
}
.section {
	text-align: center;
	margin-bottom: 4.5%;
}
.title {
	font-size: 30px;;
	color: #2c2e37;
	line-height: 46px;
	text-transform: uppercase;
}
.col img {
	display: block;
	width: 100%;
	height: auto;
}
.brand-logos a {
	display: block;
}
.col-logos {
	width: 27%;
	padding: 20px 0 20px;
}
.col-logos img {
	width: auto;
}
.row-clients {
	margin-top: 21%;
}
.col-clients {
	margin: 5% 0 25% 0;
	padding-left: 10px;
}
.avatar {
	display: inline-block;
	border-radius: 50px;
}
.col-clients p {
	position: relative;
	margin-bottom: 0;
}
.col-clients p::before {
	content: "";
	display: block;
	position: absolute;
	background: url(../img-css/quotes.png) 0% 0% no-repeat;
	width: 65px;
	height: 65px;
	top: -13%;
	left: 0;
}
.avatar-block { 
}
.fl-left {
	float: left;
	padding-top: 23px;
}
.col-clients span {
	color: #36aeea;
	float: left;
	padding: 39px 0 0 15px;
}
.col-clients a {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}
.wrap-contact {
	margin: 0 auto;
	width: 100%;
	max-width: 515px;
	background: #d3d8dc;
	background: -moz-linear-gradient(top,  #d3d8dc 0%, #7aa0a9 100%);
	background: -webkit-linear-gradient(top,  #d3d8dc 0%,#7aa0a9 100%);
	background: linear-gradient(to bottom,  #d3d8dc 0%,#7aa0a9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d8dc', endColorstr='#7aa0a9',GradientType=0 );
	-webkit-box-shadow: 0px 5px 51px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 5px 51px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 5px 51px 0px rgba(0, 0, 0, 0.75);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.container-form {
	margin: 0 auto;
	width: 90%;
	max-width: 455px;
	text-align: center;
	padding: 1px 0 31px;
}
.container-form h3 {
	font-size: 2.2em;
	color: #36aeea;
	text-transform: uppercase;
	margin-bottom: 0;
}
.container-form p {
	font-size: 16px;
	color: #383e4a;
	line-height: 20px;
}
.form-row input {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	color: #ccc;
	line-height: 53px;
	margin-bottom: 20px;
	color: #383e4a;
	font-size: 18px;
	padding-left: 16px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 3px solid #fff;
}
.form-row {
	margin-top: 9%;
}
.form-row .btn-form {
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	line-height: 67px;
	background: #36aeea;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 1px;
	padding: 0;
}
.wrap-popup {
	width: 100%;
	height:100%;
	min-height: 100%;
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
/***font-family: 'Roboto', sans-serif;**  for form**/

@media screen and (min-width: 500px) {
	body {
		font-size: 18px;
		line-height: 33px;
	}
	.gallery {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.col {
		width: 50%;
	}
	.brand-logos {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
	}
	.col-logos {
		width: auto;
		padding-bottom: 0;
	}
	.row-clients {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;
		margin-top: 8.4%;
	}
	.col-clients {
		width: 50%;
		margin: 0 0 11% 0;
		padding: 0 0 0 -2px;
	}
	.col-clients p::before {
		top: -23%;
	}
	.container-form p {
		line-height: 3px;
	}
}
@media screen and (min-width: 700px) {
	.col {
		width: 32%;
	}
}
@media screen and (min-width: 750px) {
	.wrap-header {
		padding: 1.6% 0 1% 0;
	}
	.navbar-menu {
		position: static;
		display: block;
		padding: 0.8% 0 1% 4.3%;
		float: left;
		width: none;
		background: transparent;
		width: 50%;
	}
	.navbar-menu div {
		float: left;
		padding: 0 12px;
	}
	.navbar-menu a {
		display: inline-block;
	}
	.menu-toggle {
		display: none;
	}
	.btn {
		padding: 0 47px 0 47px;
		line-height: 41px;
		border: 3px solid #36aeea;
		font-weight: bold;
		margin: 0;
	}
}